*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: serif;
}
html,
body{
    height: 100%;
    width: 100%;
}

#main{
    position: relative;
    overflow: hidden;
}
#page{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: black;
}
   /* This is a nav bar adjustment*/
#page>nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    height: 7vh;
    width: 70vw;
    background-color: black;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
}
#page>nav>h5{
    font-family: monospace;
    font-size: medium;
}
#page>video{
    height: 100%;
    width: 50%;
    object-fit: cover;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.btn{
    padding: 7px 20px;
    border-radius: 50px;
    border: none;
    background-color: white;
    cursor: pointer;
    
}
.btn1{
    padding: 7px 20px;
    border-radius: 50px;
    border: none;
    background-color: blue;
    cursor: pointer;
}

.btn0:hover{
    background-color: blue;
}


#page>nav>h3{
    font-weight: 400;
}
#page-bottom{
    height: 20%;
    width: 25%;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#page-bottom>h3{
    color: white;
    margin-bottom: 1vw;
}
#page1{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: white;
}
/*Second video*/
#page1>video{
    height: 100%;
    width: 100%;
    left: 50%;
    object-fit: cover;
    
}
#page1>h1{
    font-size: 4vw;
    color: white;
    font-weight: 400;
    position: absolute;
    left: 50%;
    bottom: 20%;
    transform : translateX(-50%);
    white-space: nowrap;
}

#page2>video{
    height: 100%;
    width: 100%;
    left: 50%;
    object-fit: cover;
    
}
#page2>h1{
    font-size: 4vw;
    color: white;
    font-weight: 400;
    position: absolute;
    left: 50%;
    bottom: 20%;
    transform : translateX(-50%);
    white-space: nowrap;
    text-align: center;
}

#page3>video{
    height: 100%;
    width: 100%;
    left: 50%;
    object-fit: cover;
    
}
#page3>h1{
    font-size: 4vw;
    color: white;
    font-weight: 400;
    position: absolute;
    left: 50%;
    bottom: 20%;
    transform : translateX(-50%);
    white-space: nowrap;
}

#page4>video{
    height: 100%;
    width: 100%;
    left: 50%;
    object-fit: cover;
    
}
#page4>h1{
    font-size: 4vw;
    color: white;
    font-weight: 400;
    position: absolute;
    left: 50%;
    bottom: 20%;
    transform : translateX(-50%);
    white-space: nowrap;
    text-align: center;
}

#page5{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: white;

}

#page5>img{
    width: 60%;
    position: absolute;
    top: 40%;
    left: 20%;
    transform: translateX(-50%, -50%);
}

#page5-upper{
    height: 35%;
    width: 35%;
    position: absolute;
    z-index: 9;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
}
#page5-upper>img{
    position: absolute;
    width: 80%;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);

}

#page5-upper-inner{
    position: absolute;
    bottom: 0%;
    height: 30%;
    width: 100%;
}

#page5-upper-inner>h3{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    font-weight: bolder;
    font-size: 150%;
    color: #ff823d;
}

#page5>button{
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    border: 1px solid black;
    font-weight: 500;
    border-radius: 50px;
    scale:1.5;
    border: 3px solid black;
}

#page6{
    position: relative;
    height: 100vh;
    width: 100vw;
}

#page6>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#center-page6{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 2vw;
}

#page7{
    display: flex;
    position: relative;
    height: 60vh;
    width: 100vw;
}

.left7{ 
    position: relative;
    height: 100%;
    width: 50%;
}

.left7>h1{
    font-size: 2.3vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10%;
}

.right7{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 50%;
    padding-left: 5vw;
}

.right7>h3{
    font-size: 2 vw;
    width: 80%;
    color: #484848d7;
}

.right7>button{
    padding: 10px 20px;
    border: none;
    background-color: #ff823d;
    color: #fff;
    font-weight: 400;
    border-radius: 50px;
    font-size: 1.3vw;
    margin-top: 1.5vw;
}

#page8{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    height: 70vh;
    width: 100vw;
    background-color: #ff823d;
}

#page8>h3{
    margin-bottom: 1vw;
    font-size: 2vw;
}

#page8>h1{
    margin-bottom: 1.5vw;
    font-size: 2vw;
}

#page8>p{
    font-size: 1.2vw;
    width: 60%;
    font-weight: 700;
    color: #545454c9;
}

#page9{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #fff;
}

#page9>canvas{
    position: relative;
    max-width: 100vw;
    max-height: 100vh;
}

/*#page10{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #fff;
}

#page11{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #fff;
}

#page12{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #fff;
}

#page13{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #fff;
}

#page14{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #fff;
}

#page15{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #fff;
}*/

